$bloody-red: #ca1841;

$dark-blue: #153fff;
$dark-full-blue: #1b2e8e;
$dark-extra-blue: #1b1b34;

$pink: #d120f8;
$purple: #883fea;

$grey: #888888;
$milk: #eff0f7;

// Hover
$milk-hover: #ffffff;

// Active
$dark-blue-active: #1d4cca;
