@import './../../modules/index.scss';

.left-side {
	width: 20%;
	min-width: 320px;

	h4 {
		display: inline-block;
		border-radius: 50px;
		padding: 10px 13px;
		margin-bottom: 12px;
		font-weight: 600;
		font-size: 1em;
		background: linear-gradient(to right, $dark-blue, #1c3fff);
	}

	p {
		margin: 0;
	}

	div {
		margin-left: 10px;

		ul {
			width: 140%;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
			margin-top: 28px;
			text-align: left;
			user-select: none;

			.li__year {
				text-align: center;
				padding: 4px 10px;
				margin-right: 10px;
				background-color: $dark-extra-blue;
				width: 32px;
				cursor: pointer;
				transition: $click-transition-default;

				&:hover {
					background-color: $grey-hover;
					color: black;
				}

				&_active {
					background-color: $milk;
					color: black;
				}
			}
		}

		h2 {
			margin: 0;
			font-size: 2em;
			font-weight: 400;
		}

		.target-income {
			user-select: all;
		}

		h1 {
			margin: 0;
			font-size: 4em;
			font-weight: 400;
			user-select: all;
		}

		.real-income {
			font-size: 1.3em;
			user-select: none;

			span {
				user-select: all;
			}
		}

		h3 {
			margin-top: 20px;
			margin-bottom: 12px;
			font-size: 1.3em;
			font-weight: 500;
		}
	}
}
