@import './../../modules/index.scss';

.middle-side {
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	//margin-top: -45px;
	margin-top: -2%;
	margin-left: -30px;

	@media (max-width: 1280px) {
		margin-left: -60px;
	}

	::selection {
		background-color: #c8506fff;
	}

	.bubble_centered_border {
		top: 12.5vw;
		left: 25.5vw;
		padding: 5.8vw;
		border-radius: 50%;
		position: absolute;
		background: #9947f7; // As fallback for browsers which do not support gradient
		background: linear-gradient(to bottom, #dc25fa 10%, #9947f7 69%);
	}

	.bubble_centered,
	.bubble_child {
		position: absolute;
		flex-direction: column;
		width: 8.5vw;
		height: 8.5vw;
		top: 14vw;
		left: 27vw;
		font-size: 0.9vw;
		text-align: center;
		font-weight: 300;
		border-radius: 50%;
		box-sizing: border-box;
		background-color: black;
		user-select: none;
		z-index: 9999;

		h3 {
			font-size: 3em;
			font-weight: 300;
			margin: 0;
			margin-top: 20px;
		}

		p {
			margin: 0;
			font-weight: 400;
			font-size: 1em;
		}

		.income-group-text {
			margin-top: 0.2vw;
			margin-left: 0.85vw;
			font-size: 1vw;
			user-select: none;
		}
	}

	.bubble_centered {
		padding-top: 0.5vw;

		img {
			width: 1.7vw;
			user-select: none;
			margin-bottom: -0.7vw;
			pointer-events: none;
		}

		h3 {
			margin: 0;
			user-select: all;
		}
	}

	.bubble_centered_border,
	.bubble_centered,
	.bubble_category,
	.bubble_child,
	.bubble_category_group,
	.bubble_child_group {
		transition: height 0.5s, width 0.5s cubic-bezier(0.61, 1, 0.88, 1);
	}

	.bubble_category {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 5vw;
		height: 5vw;
		align-items: center;
		text-align: center;
		font-weight: 400;
		font-size: 1vw;
		border-radius: 50%;
		box-sizing: border-box;
		z-index: 999;

		&_group {
			cursor: pointer;

			&:hover {
				animation: category-breath 3s linear infinite;
				box-shadow: 0 0 30px rgba(108, 41, 176, 1), inset 0 0 8px rgba(20, 17, 124, 1);
			}

			@keyframes category-breath {
				0% {
					box-shadow: 0 0 60px rgb(152, 95, 209), inset 0 0 12px rgb(69, 66, 180);
				}
				50% {
					box-shadow: 0 0 30px rgba(108, 41, 176, 1), inset 0 0 8px rgba(20, 17, 124, 1);
				}
				100% {
					box-shadow: 0 0 60px rgb(152, 95, 209), inset 0 0 12px rgb(69, 66, 180);
				}
			}
		}

		p {
			font-size: 0.8em;
			margin: 0 auto;
			padding: 0;
			font-size: 1.6vh;
		}

		.income-value,
		.income-percentage {
			font-size: 2vh;
		}

		.income-group-text {
			margin-top: -1vw;
			font-size: 2vw;
			user-select: none;
		}
	}

	.bubble_child {
		width: 2.5vw;
		height: 2.5vw;
		top: 50%;
		left: 50%;
		border: none;
		text-align: left;
		background: linear-gradient(to right, #262827, #21242d);
		position: absolute;

		&_group {
			cursor: pointer;

			&:hover {
				animation: child-breath 3s linear infinite;
				box-shadow: 0 0 20px #5d5f5e, inset 0 0 3px #505153;
			}

			@keyframes child-breath {
				0% {
					box-shadow: 0 0 40px #9e9e9e, inset 0 0 3px #505153;
				}
				50% {
					box-shadow: 0 0 20px #5d5f5e, inset 0 0 6px #505153;
				}
				100% {
					box-shadow: 0 0 40px #9e9e9e, inset 0 0 3px #505153;
				}
			}
		}

		.IncomeValues {
			display: inline-block;
			font-size: 0.8em;
			width: 300%;
			margin-top: 1vw;
			margin-left: 1vw;
			user-select: all;
			font-weight: 400;
		}

		.IncomePercentage {
			margin-top: 0.85em;
			text-align: center;
			user-select: all;
		}
	}

	.line,
	.line_child {
		position: absolute;
		height: 3px;
		background: linear-gradient(270deg, #dc25fa 50%, #9947f7 69%);
		z-index: -1;
	}

	.line_child {
		background: linear-gradient(270deg, #262827 50%, #21242d 69%);
	}
}
