@import '../../assets/styles/modules/index.scss';

a {
}

.header_default {
	display: flex;
	align-items: center;
	padding-top: 5px;
	background-color: $dark-extra-blue;
	box-sizing: border-box;
	user-select: none;

	a {
		display: flex;
		align-items: center;
		outline: none;
		text-decoration: none;

		div {
			display: flex;
			align-items: center;

			img {
				margin-inline: 30px 15px;
				width: 28px;
				height: 28px;
				-webkit-user-drag: none;
				transition: $hover-transition-default;
			}

			h1 {
				font-size: 1em;
				font-weight: 400;
				color: $milk;
				transition: $hover-transition-default;
			}

			&:hover {
				color: $grey-hover;

				img {
					filter: brightness(60%);
				}

				h1 {
					color: $grey-hover;
				}
			}
		}
	}

	.ul_right {
		display: flex;
		padding: 0;
		margin: 0;
		margin-left: auto;
		margin-right: 60px;
		list-style: none;

		a {
			margin-right: 20px;
			font-size: 0.95em;
			color: $milk;
			outline: none;
			text-decoration: none;
			padding-bottom: 5px;

			li {
				transition: $hover-transition-default;
			}

			&:hover {
				color: $grey-hover;
			}
		}

		.active {
			border-bottom: 3px solid $dark-blue-active;
			// transition: none;
		}
	}
}
